{#{% load staticfiles %}#}
{% load static %}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">

    <title>base</title>
    <!-- TDK and ICO -->
    {% block title %}{% endblock %}

    <meta name="description" content="用户账号管理，使用django-allauth社交用户系统，支持微博、Github等社交账号登录，加入TendCode，查看更多信息。">
    <meta name="keywords" content="django-allauth,社交用户系统,OAuth 2.0">

    <link rel="icon" href="{% static 'images/picture.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/jigsaw.css">
    <script src="/static/js/jigsaw.js"></script>
    <!-- Bootstrap and font-awesome CSS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/jigsaw.js"></script>

{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"#}
{#            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"#}
{#            crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'>
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

</head>
<body>

<!--主要内容块-->
{% block main %}
{% endblock %}

{#<div id="gcs-footer">#}
{#    <footer class="container-fluid mt-4" style="position: relative;">#}
{#        <div class="card-body text-center px-0 f-16">#}
{##}
{#            <div class="row" style="text-align: center;">#}
{#                <div class="col-sm-3 col-md-3 col-lg-3">#}
{#                    <a href="#" style=" color: gray;">关于我们</a>#}
{#                </div>#}
{#                <div class="col-sm-3 col-md-3 col-lg-3">#}
{#                    <a href="#" style=" color: gray;">联系方式</a>#}
{#                </div>#}
{#                <div class="col-sm-3 col-md-3 col-lg-3">#}
{#                    <a href="#" style=" color: gray;">旗下网站</a>#}
{#                </div>#}
{#                <div class="col-sm-3 col-md-3 col-lg-3">#}
{#                    <a href="#" style=" color: gray;">特别致谢</a>#}
{#                </div>#}
{#            </div>#}
{#            <hr style="border: 1px  solid #000000; ">#}
{##}
{#            <p class="card-text mb-1" >Copyright&nbsp;&copy;&nbsp;2021-<span id="year-info"></span>#}
{#                <script>function getnewYear() {#}
{#                    var d = new Date();#}
{#                    var x = document.getElementById("year-info");#}
{#                    x.innerHTML = d.getFullYear();#}
{#                }#}
{#                getnewYear()</script>#}
{#                <a href="https://github.com/whaticando" target="_blank" title="博客作者的Github">whaticando</a>.&nbsp;Powered&nbsp;by&nbsp;Django.#}
{#            </p>#}
{#            <p class="mb-0">#}
{#                <a href="https://baidu.com/" target="_blank">沪952727号-3</a>&nbsp;|#}
{#                <a href="https://baike.baidu.com/item/%E7%AB%99%E7%82%B9%E5%9C%B0%E5%9B%BE/9991876?fromtitle=%E7%BD%91%E7%AB%99%E5%9C%B0%E5%9B%BE&fromid=393478&fr=aladdin"#}
{#                   target="_blank">网站地图(暂时没用)</a>#}
{#            </p>#}
{##}
{#            <!--站长统计-->#}
{#                    <div>#}
{#                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");#}
{#                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1276375952'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276375952%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>#}
{#                    </div>#}
{#                    <!--站长统计结束-->#}
{#        </div>#}
{#    </footer>#}
{#</div>#}
{##}


</body>
</html>