.mainbody {
    background-image: url('/static/images/profilebg.jpg');
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-width: 1000px;*/
    /*background-color: #fff;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-position: center 0;*/
    padding-top: 200px;


}

.user_profile {
    margin-top: 10px;
    line-height: 1.8em;
    color: #333
}

.user_profile li {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    /*white-space: -pre-wrap;*/
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all
}

#user_profile_block {
    padding-top: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #bbe1f1;
    background: #eefaff
    /*font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*border-collapse: collapse;*/
    /*color: #333;*/
    /*background: #F3F5F7;*/


}

.user_profile td.text_gray {
    text-align: right
}

.mini_nav_block {
    font-size: 12px;
    float: right;
    margin-bottom: -1px;
    padding-right: 10px;
    width: 380px
}

.mini_nav_block li {
    float: right;
    margin-right: 3px
}

.mini_nav_block a:link, .mini_nav_block a:visited, .mini_nav_block a:active {
    background-color: #59a0e1;
    border: 1px solid #59a0e1;
    color: #fff;
    float: left;
    letter-spacing: 1px;
    padding: 2px 6px 1px;
    text-decoration: none
}

.mini_nav_block a.current_nav:link, .mini_nav_block a.current_nav:visited, .mini_nav_block a.current_nav:active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #000;
    cursor: default;
    letter-spacing: 0;
    padding: 2px 6px 1px;
    margin-top: 0
}

.user_profile_nav_block td {
    padding-top: 5px
}

.btn_user_relation:link, .btn_user_relation:visited, .btn_user_relation:hover, .btn_user_relation:active {
    margin-top: 10px;
    padding: 3px 10px 3px;
    color: #222;
    text-decoration: none;
    background-color: #f2fddb;
    border: 1px solid #aecd3d;
    border-radius: 2em
}

.count {
    display: block;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px
}

.user_avatar {
    padding-right: 15px
}

.data_right {
    float: left
}

.avatar_nav_block li {
    line-height: 1.8em
}

b {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px
}

.tr_title {
    text-align: right;
    color: #808080
}

.data_block {
    margin-top: 10px
}

.data_block td {
    line-height: 1.8em;
    padding-top: 5px;
    vertical-align: top
}

.img_tip {
    padding-left: 10px;
    overflow: hidden
}

.title_block {
    border: none;
    width: 110px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    color: #454545
}

/*.link_message {*/
/*    background: url(/images/ico_message.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_account {*/
/*    background: url(/images/ico_account.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_modify_info {*/
/*    background: url(/images/ico_modify_info.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_mying {*/
/*    background: url(/images/ico_ing.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_question {*/
/*    background: url(/images/ico_question.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_admin_info {*/
/*    background: url(/images/ico_alert.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

/*.link_user_resume {*/
/*    background: url(/images/ico_resume.gif) no-repeat left center;*/
/*    padding-left: 20px*/
/*}*/

.display_name {
    font-size: 20px;
    font-weight: bold;
    color: #454545
}

.data_left {
    float: left;
    border-right: 1px solid #bbb;
    padding-right: 15px;
    margin-right: 15px
}

.user_intro {
    line-height: 1.8em;
    margin-right: 12px;
    overflow: hidden
}

.img_avatar {
    border: 1px solid #ccc;
    padding: 2px;
    width: 180px;
    height: 180px
}

.follow_count a:link, .follow_count a:active, .follow_count a:visited, .follow_count a:hover {
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    text-decoration: none
}

#user_relation_tip {
    color: #f00
}

#follow_block_info {
    margin-top: 10px
}

#main h2 {
    border: none
}

.right_content_wrapper2 h2 {
    margin-top: 0
}

.block-button {
    margin-left: 8px
}

a.block-button:link, .block-button:visited {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none
}